{% extends 'admin/base.html.twig' %}

{% block body %}
    <!-- TITRE -->
<div class="card">
    <div class="header">
        <h4 class="title">Vous administrez la catégorie <span class="text-danger">{{ categorie.titre }}</span></h4>
    </div>
</div>

    <p>
        <button style="font-size: 11px; border-color: #5cb85c; color: gray" class="btn" type="button" data-toggle="collapse" data-target="#ModifierTextePresentation" aria-expanded="false" aria-controls="ModifierTextePresentation">
            MODIFIER TEXTE PRESENTATION
        </button>

        <button style="font-size: 11px; border-color: #5cb85c; color: gray" class="btn" type="button" data-toggle="collapse" data-target="#CreerSousCategorie" aria-expanded="false" aria-controls="CreerSousCategorie">
            CREER UNE SOUS-CATEGORIE
        </button>

        <button style="font-size: 11px; border-color: #5cb85c; color: gray" class="btn" type="button" data-toggle="collapse" data-target="#CreerArticle" aria-expanded="false" aria-controls="CreerArticle">
            CREER UN ARTICLE
        </button>

        <button style="border-color: #f0ad4e; color: gray; font-size: 11px" class="btn" type="button" data-toggle="collapse" data-target="#ModifierSupprimerSousCategorie" aria-expanded="false" aria-controls="ModifierSupprimerSousCategorie">
            MODIFIER / SUPPRIMER UNE SOUS-CATEGORIE
        </button>

        <button style="border-color: #f0ad4e; color: gray; font-size: 11px" class="btn" type="button" data-toggle="collapse" data-target="#ModifierSupprimerArticle" aria-expanded="false" aria-controls="ModifierSupprimerArticle">
            MODIFIER / SUPPRIMER UN ARTICLE
        </button>

    </p>

    <!-- MODIFIER TEXTE PRESENTATION -->
    <div class="collapse" id="ModifierTextePresentation">
        <div style="border: 1px solid #5cb85c; border-radius: 4px; padding: 15px" class="card card-body">
            <div class="header">
                <h4 class="title" style="padding-bottom: 25px">MODIFIER TEXTE PRESENTATION</h4>
            </div>

            {{ form_start(formTextePresentation) }}


            {{ form_row(formTextePresentation.description) }}


            <button style="background-color: #5cb85c; color: white; border: 2px solid #5cb85c; border-radius: 4px; padding: 15px" type="submit" class="btn btn-primary">Modifier</button>

            {{ form_end(formTextePresentation) }}

        </div>
    </div>

    <!-- CREER SOUS CATEGORIE -->
    <div class="collapse" id="CreerSousCategorie">
        <div style="border: 1px solid #5cb85c; border-radius: 4px; padding: 15px" class="card card-body">
            <div class="header">
                <h4 class="title" style="padding-bottom: 25px">CREER UNE SOUS-CATEGORIE</h4>
            </div>
            {{ form_start(formSousCategorie) }}


                {{ form_row(formSousCategorie.titre, {'attr': {'placeholder': 'Titre de la sous-catégorie'}}) }}

                {{ form_row(formSousCategorie.format) }}

                {{ form_row(formSousCategorie.couleur) }}

                <button style="background-color: #5cb85c; color: white; border: 2px solid #5cb85c; border-radius: 4px; padding: 15px" type="submit" class="btn btn-primary">Créer</button>

            {{ form_end(formSousCategorie) }}

        </div>
    </div>


    <!-- ModifierSupprimerSousCategorie -->
    <div class="collapse" id="ModifierSupprimerSousCategorie">
        <div style="border: 1px solid #f0ad4e; border-radius: 4px; padding: 15px; "class="card card-body">


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title" style="padding-bottom: 25px">MODIFIER / SUPPRIMER UNE SOUS-CATEGORIE</h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>TITRE DE LA SOUS-CATEGORIE</th>
                                        <th>ACTION</th>
                                        </thead>
                                        <tbody>
                                        {% for listeSousCategorie in listeSousCategories %}
                                            <tr>
                                                <td>{{ listeSousCategorie.titre }}</td>
                                                <td>
                                                    <a href="{{ path('modifier_sous_categorie', {'id': listeSousCategorie.id}) }}"><i style="font-size: 23px; padding-right: 80px;" class="text-warning fa fa-pencil-square-o" aria-hidden="true"><span style="font-size: 12px">Modifier</span></i></a>
                                                    <a href="{{ path('demainWeArt_administration_supprimer_categorie', {'id': listeSousCategorie.id}) }}"><i style="font-size: 23px;" class="text-danger fa fa-trash" aria-hidden="true"><span style="font-size: 12px">Supprimer</span></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- ModifierSupprimer ARTICLE -->
    <div class="collapse" id="ModifierSupprimerArticle">
        <div style="border: 1px solid #f0ad4e; border-radius: 4px; padding: 15px; "class="card card-body">


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title" style="padding-bottom: 25px">MODIFIER / SUPPRIMER UN ARTICLE</h4>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>SOUS-CATEGORIE</th>
                                        <th>TITRE DE L'ARTICLE</th>
                                        <th>ACTION</th>
                                        </thead>
                                        <tbody>
                                        {% for listeSousCategorie in listeSousCategories %}
                                            {% for article in listeSousCategorie.article %}
                                            <tr>
                                                <td>{{ listeSousCategorie.titre }}</td>
                                                <td>{{ article.titre }}</td>
                                                <td>
                                                    <a href="{{ path('modifier_article', {'id': article.id}) }}"><i style="font-size: 23px;padding-right: 80px;" class="text-warning fa fa-pencil-square-o" aria-hidden="true"><span style="font-size: 12px">Modifier</span></i></a>
                                                    <a href="{{ path('demainWeArt_administration_supprimer_article', {'id': article.id}) }}"><i style="font-size: 23px;" class="text-danger fa fa-trash" aria-hidden="true"><span style="font-size: 12px">Supprimer</span></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- CREER ARTICLE -->
    <div class="collapse" id="CreerArticle">
    <div style="border: 1px solid #5cb85c; border-radius: 4px; padding: 15px" class="card card-body">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title" style="padding-bottom: 25px">CREER UN ARTICLE (choisir pour quelle sous-catégorie)</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <th>TITRE DE LA SOUS-CATEGORIE</th>
                                    <th>ACTION</th>
                                    </thead>
                                    <tbody>
                                    {% for listeSousCategorie in listeSousCategories %}
                                        <tr>
                                            <td>{{ listeSousCategorie.titre }}</td>
                                            <td>
                                                <a href="{{ path('creer_article', {'id': listeSousCategorie.id}) }}"><i style="font-size: 23px; padding-right: 80px;" class="text-warning fa fa-plus-circle" aria-hidden="true"><span style="font-size: 12px">Créer</span></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>




{% endblock %}