{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="header">
            <h4 class="title">Vous créez un article dans la sous-catégorie <span class="text-danger">{{ sousCategorie.titre }}</span></h4>
        </div>
    </div>
    <!-- CREER SOUS CATEGORIE -->


            {{ form_start(formArticle) }}


            {{ form_row(formArticle.titre) }}

            {{ form_row(formArticle.descriptif) }}
    <div>
        <p class="text-danger">1 : Choisir une image adapté à la forme de bulle de la sous catégorie (bulle simple, formation, bannière ...)</p>
        <p class="text-primary">Rogner l'image <a target="_blank" href="https://convertir-une-image.com/edition/recadrer-une-image.asp">ici</a></p>
        <p class="text-danger">2 : Optimiser(poid de l'image)/Redimensionner l'image => <i class="fa fa-exclamation" aria-hidden="true"></i>
            Choisir le redimentionnement en pourcentage</p>
        <p class="text-primary">Optimiser l'image <a target="_blank" href="https://www.iloveimg.com/fr/redimensionner-image">ici</a></p>

    </div>
            {{ form_row(formArticle.photo) }}

            {{ form_row(formArticle.contenu) }}

            <button style="background-color: #5cb85c; color: white; border: 2px solid #5cb85c; border-radius: 4px; padding: 15px" type="submit" class="btn btn-primary">Créer</button>

            {{ form_end(formArticle) }}


{% endblock %}