

<nav id="mysidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="flaticon-close-button"></i></a>
    {#    <a href="/"><i class="fa fa-home fa-2x pl-5" aria-hidden="true"></i></a>#}
    <ul id="menu">
        <li data-menuanchor="homePage" id="homeRecordingResponsive"><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('home_demainWeArt') }}#homePage"><i class="fa fa-home Blanc" aria-hidden="true"></i> Home</a></li>
        <li data-menuanchor="recordingPage"><a onclick="closeNav()" class="Violet font-weight-bold" href="{{ path('home_demainWeArt') }}#recordingPage">Recording Studio</a></li>
        <li data-menuanchor="artistLabelServices" id="artistLabelServicesRecordingResponsive"><a onclick="closeNav()" class="Rose font-weight-bold" href="{{ path('home_demainWeArt') }}#artistLabelServices">Artist & Label Services</a></li>
        <li data-menuanchor="training" id="trainingRecordingResponsive"><a onclick="closeNav()" class="Orange font-weight-bold" href="{{ path('home_demainWeArt') }}#training">Training</a></li>
        <li data-menuanchor="events" id="eventRecordingResponsive"><a onclick="closeNav()" class="Rouge font-weight-bold" href="{{ path('home_demainWeArt') }}#events">Events</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_partenaires') }}">Partenaires</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_contact') }}">Contact</a></li>
        {#        <li data-menuanchor="page7"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page7">Team</a></li>#}
        {#        <li data-menuanchor="page8"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page8">Testimonialdadada</a></li>#}
        {#        <li data-menuanchor="page9"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page9">Contact</a></li>#}
    </ul>
</nav>

{#<div class="sidebar bg_deepblack">#}
{#    <div class="logo text-center"><a href="#page1"><img class="nav-logo" src="images/logo/29.png" alt="logo"></a></div>#}
{#    <span style="cursor:pointer" onclick="openNav()">&#9776;</span>#}
{#    <div class="socal_media mt_60">#}
{#        <ul>#}
{#            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
<div class="contact_massage bg_transparent d-flex align-items-center" style="cursor:pointer" onclick="openNav()">
    <a href="#"><i class="fa fa-bars fa-1x text-white" aria-hidden="true"></i></a>
</div>