<!DOCTYPE html>
<html lang="fr">
<head>
    <!--===== Meta Tag =====-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Runaway - Personal Portfolio HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="business, agency, blog, cv, creative, html, one page, personal, portfolio, resume, responsive, bootstrap, photography, designer, developer">
    <meta name="author" content="root">

    <!--	Css Links
   ==================================================-->
    <link rel="stylesheet" href="../../demainWeArt/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../demainWeArt/css/jquery.pagepiling.css">
    <link rel="stylesheet" href="../../demainWeArt/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../demainWeArt/fonts/flaticon.css">
    <link rel="stylesheet" href="../../demainWeArt/css/plugins.css">
    <link rel="stylesheet" href="../../demainWeArt/css/style.css">
    <link rel="stylesheet" href="../../demainWeArt/css/styleSections.css">
    <link rel="stylesheet" href="../../demainWeArt/css/colorsSousCats.css">
    <link rel="stylesheet" href="../../demainWeArt/css/bulleHoverBackground.css">
    <link rel="stylesheet" href="../../demainWeArt/css/color.css" id="color-change">

    <style type="text/css" media="screen">

        .logoDemain{
            width: 270px !important;
            height: 75px !important;
            margin-top: 30px!important;
            margin-bottom: 30px!important;
            object-fit: fill !important;
        }
        .menuRecordingSection{
            background-image: url("../../demainWeArt/images/backgroundsSections/background-recording-section.jpg")!important;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    </style>

    <!-- Favicon
   ==================================================-->
    <link rel="icon" type="image/png" sizes="32x32" href="../../demainWeArt/images/favicon.ico">

    <!--	Title
  ==================================================-->
    <title>Runaway - Personal Portfolio HTML Template</title>

</head>
<body id="top" class="page-load">
<!--	Preloader
==================================================-->
<div class="preloader">
    <div class="lds-css ng-scope">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<!-- Menu Responsive==================================================-->
<nav id="mysidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="flaticon-close-button"></i></a>
    {#    <a href="/"><i class="fa fa-home fa-2x pl-5" aria-hidden="true"></i></a>#}
    <ul id="menu">
        <li data-menuanchor="homePage" id="homeRecordingResponsive"><a onclick="closeNav()" class="Blanc font-weight-bold" href="/#homePage"><i class="fa fa-home Blanc" aria-hidden="true"></i> HOME</a></li>
        <li data-menuanchor="recordingPage"><a onclick="closeNav()" class="Violet font-weight-bold" href="/#recordingPage">RECORDING STUDIOS</a></li>
        <li data-menuanchor="artistLabelServices" id="artistLabelServicesRecordingResponsive"><a onclick="closeNav()" class="Rose font-weight-bold" href="/#artistLabelServices">ARTIST & LABEL SERVICES</a></li>
        <li data-menuanchor="training" id="trainingRecordingResponsive"><a onclick="closeNav()" class="Orange font-weight-bold" href="/#training">FORMATION & TRAINING</a></li>
        <li data-menuanchor="events" id="eventRecordingResponsive"><a onclick="closeNav()" class="Rouge font-weight-bold" href="/#events">EVENTS</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_partenaires') }}">PARTENAIRES</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_contact') }}">CONTACT</a></li>

        {#        <li data-menuanchor="page7"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page7">Team</a></li>#}
{#        <li data-menuanchor="page8"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page8">Testimonialdadada</a></li>#}
{#        <li data-menuanchor="page9"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page9">Contact</a></li>#}
    </ul>
</nav>

{#<div class="sidebar bg_deepblack">#}
{#    <div class="logo text-center"><a href="#page1"><img class="nav-logo" src="images/logo/29.png" alt="logo"></a></div>#}
{#    <span style="cursor:pointer" onclick="openNav()">&#9776;</span>#}
{#    <div class="socal_media mt_60">#}
{#        <ul>#}
{#            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
<div class="contact_massage bg_transparent d-flex align-items-center" style="cursor:pointer" onclick="openNav()">
    <a href="#"><i class="fa fa-bars fa-1x text-white" aria-hidden="true"></i></a>
</div>

<!--
=======================================================-->








    <!--	Start Recording Stdios
    ===================================================-->
    <div id="recordingPage" class="section bg_black pp-scrollable">
        <div class="container-fluid pl-0 pr-0">

            <div class="about2">
                <div class="col-md-12 col-lg-12">
                    <div class="row">

                        <div class="col-md-12 col-lg-12 menuRecordingSection d-block" id="sectionRecording">
                            <div class="about_myself pr-sm-5 pl-sm-5">
                                <!--	Start Title
                                ================================-->
                                {#                                    <div class="main_title my_60">#}
                                {#                                        <h2 class="title color_white">About Me</h2>#}
                                {#                                        <p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>#}
                                {#                                    </div>#}
                                <!--	End Title
                                ================================-->
                                <div class="row pt-5">
                                    <div class="hauteurSousCat"></div>

                                    <div class="menuSousCat col-md-4 col-lg-4">
                                        <div class="">
                                            <a href="/"><img alt="" class="logoDemainMenu" src="../../demainWeArt/images/logo/logo-demain.png"></a>
                                        </div>
                                        <div class="myself color_secondery menuSticky" style="min-width: 337px; max-width: 337px">
                                            <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                            <div id="currentContact" class="rotating Blanc"></div>
                                            <a href="/"><h2  id="homeRecording" class="Blanc petitTitreMenu">HOME</h2></a>
                                            <a href="/#recordingPage"><h2 class="Violet">RECORDING STUDIOS</h2></a>
                                            <a href="/#artistLabelServices"><h2  id="artistLabelServicesRecording" class="Rose">ARTIST & LABEL SERVICES</h2></a>
                                            <a href="/#training"><h2  id="trainingRecording" class="Orange">FORMATION & TRAINING</h2></a>
                                            <a href="/#events"><h2 id="eventRecording" class="Rouge">EVENTS</h2></a>
                                            <a href="{{ path('demainweart_page_partenaires') }}"><h2 class="Blanc petitTitreMenu">PARTENAIRES</h2></a>
                                            <h2 class="Blanc petitTitreMenu">CONTACT</h2>
                                            <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 mb-5">
                                        <div class="personal_info color_lightgray bg_transparent">
                                            <div class="accordion bg_transparent" id="PartenaireIdCollapse">
                                                <div style="border: transparent;" class="card bg_transparent">


                                                    <!-- ------------------------CARDS BULLE---------------------- -->

                                                        <div style="border: transparent;" class="card-header bg_transparent mt-lg-4" id="PartenaireId">

                                                            <div class="d-block text-center pl-xl-0 pl-sm-0">
                                                                <a href="/"><img alt="" class="logoDemain d-lg-none" src="../../demainWeArt/images/logo/logo-demain.png"></a>
                                                            </div>

                                                            <h2 class="container-buttonSousCat">
                                                                <button class="bulleSousCategorie text-left bg_transparent text-white bgRose pl-3 bgBlanc" type="button" data-toggle="collapse" data-target="#targetPartenaireId" aria-expanded="true" aria-controls="collapseOne">
                                                                    Contact
                                                                </button>
                                                            </h2>
                                                        </div>


                                                    <div class="container">
                                                        <div class="contact ">

                                                            <div class="row d-flex justify-content-center">

                                                                <div class="col-md-10 col-lg-10 text-center">

                                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.3286211324667!2d4.878843415794378!3d45.76460402136868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c02daeb4570d%3A0x68b0ac72c15ba3e1!2s70%20Rue%20du%204%20Ao%C3%BBt%201789%2C%2069100%20Villeurbanne!5e0!3m2!1sfr!2sfr!4v1575038731496!5m2!1sfr!2sfr" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                                                    <div class="mb-3 mt-5 ml-lg-3" style="font-size: 25px">Veuillez entrer votre nom s'il vous plait</div>
                                                                    <div>
                                                                        <input class="formContact form-control bg_white" type="text" name="prenom" placeholder="Nom/Prénom/Pseudo" />
                                                                    </div>
                                                                    <div>
                                                                        <input class="formContact btn btn-default bgRose" id="send" value="Valider"/>
                                                                    </div>


                                                                    {#<form class="form contact_message pl-lg-5" id="contact-form" action="email.php" method="post">
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <input class="formContact form-control bg_white" type="text" name="prenom" placeholder="Nom/Prénom/" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <input class="formContact form-control bg_white" type="text" name="nom" placeholder="Nom" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6 col-lg-6">
                                                                                <div class="form-group">
                                                                                    <input class="formContact form-control bg_white" type="email" name="email" placeholder="Email" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="form-group">
                                                                                    <input class="formContact form-control bg_white" type="text" name="subject" placeholder="Subject"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="form-group">
                                                                                    <textarea class="form-control bg_white" name="message" rows="7" placeholder="Message"></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="form-group">
                                                                                    <input class="formContact btn btn-default bgRose" id="send" value="Envoyer" type="submit"/>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="error-handel">
                                                                                    <div id="success">Your email sent Successfully, Thank you.</div>
                                                                                    <div id="error"> Error occurred while sending email. Please try again later.</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <footer class="container-fluid">
                            <div  style="background-color: {{ recordingStutios.couleurfooter }}" class="row rounded-top">
                                <!-- Newsletter -->
                                <div class="d-flex justify-content-center col-12 containerNewsletter">
                                    <form accept-charset="UTF-8"  class="newsletter">
                                        <input type="email" id="contentNewsLetterContact" name="formNewsLetterContact" placeholder="E-mail" />
                                        <input id="formNewsLetterContact" style="background: #B34575;" type="button" name="formNewsLetterContact" value="NEWSLETTER" disabled="disabled"/>
                                    </form>
                                </div>




                                <div class="col-lg-12 col-sm-12 d-flex flex-wrap text-sm-left text-sm-center text-lg-left text-white mt-lg-5 mt-sm-1">
                                    <div class="col-12 d-flex flex-wrap justify-content-center">
                                        <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                            <h2 class="pl-0 text-lg-left">Home</h2>
                                            <a href="{{ path('demainweart_page_contact') }}"><h3 class="small text-lg-left linkFooter">Contact</h3></a>
                                            <a href="{{ path('demainweart_page_partenaires') }}"><h3 class="small text-lg-left linkFooter">Partenaires</h3></a>
                                        </div>
                                        <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                            <h2 class="pl-0 text-lg-left">Recording studios</h2>
                                            {% for recordingStutio in recordingStutios.sousCategorie %}
                                                {% if recordingStutio.statut == true %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': recordingStutio.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ recordingStutio.titre }}</h3></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                            <h2 class="pl-0 text-lg-left">Artist & label services</h2>
                                            {% for artistLabelServices in artistLabelServices.sousCategorie %}
                                                {% if artistLabelServices.statut == true %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': artistLabelServices.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ artistLabelServices.titre }}</h3></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                            <h2 class="pl-0 text-lg-left">Events</h2>
                                            {% for event in event.sousCategorie %}
                                                {% if event.statut == true %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': event.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ event.titre }}</h3></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                            <h2 class="pl-0 text-lg-left">Formation & Training</h2>
                                            {% for training in training.sousCategorie %}
                                                {% if training.statut == true %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': training.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ training.titre }}</h3></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 text-white text-sm-center text-lg-center mt-5">
                                    <h2 class="pl-0">
                                        <a href="https://www.facebook.com/demainweart/" target="_blank"><i class="pl-3 pr-3 fa fa-facebook-official" aria-hidden="true"> Rejoignez nous sur Facebook</i></a>
                                        <a href="https://www.instagram.com/demainweart/" target="_blank"><i class="pl-3 pr-3 fa fa-instagram" aria-hidden="true"> Suivez nous sur Instagram</i></a>
                                    </h2>
                                </div>
                                <div class="col-12 text-white text-center mt-5">
                                    <a href="https://www.imlyon.co">
                                        <img alt="imLyon.co" class="logoMusicManufacturing" src="../../demainWeArt/images/logo/logo-music.png">
                                    </a>
                                </div>
                                <div class="col-12 text-white text-center mt-5">
                                    imlyon.co 2019 - 2019 - <a href="{{ path('demainweart_page_mentions_legales') }}"> Mentions légales</a> - <a href="{{ path('demainweart_page_CGU') }}">CGU DemainWeArt</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <!--	End Contact
    ===================================================-->

<!--	Js Links
===================================================-->
<script src="../../demainWeArt/js/jquery.min.js"></script>
<script src="../../demainWeArt/js/popper.min.js"></script>
<script src="../../demainWeArt/js/bootstrap.min.js"></script>
<script src="../../demainWeArt/js/plugins.js"></script>
<script src="../../demainWeArt/js/jquery.pagepiling.min.js"></script>
<script src="../../demainWeArt/js/custom.js"></script>
<script>
    var deleteLog = false;
    //	Pagepiling js
    //=====================================================
    // AJAX POST NEWSLETTER !!
    function ajaxPost(url, data, callback) {
        let req = new XMLHttpRequest();
        req.open("POST", url);
        req.addEventListener("load", function () {
            if (req.status >= 200 && req.status < 400) {
                // Appelle la fonction callback en lui passant la réponse de la requête
                callback(req.responseText);
            } else {
                console.error(req.status + " " + req.statusText + " " + url);
            }
        });
        req.addEventListener("error", function () {
            console.error("Erreur réseau avec l'URL " + url);
        });
        req.send(data);
    }



    let formNewsLetterContact= document.getElementById('formNewsLetterContact');
    formNewsLetterContact.addEventListener('click', function () {
        let contentNewsLetterContact = document.getElementById('contentNewsLetterContact');

        let email = contentNewsLetterContact.value;
        ajaxPost("{{ path('postNewsletter') }}", email, function() {

            formNewsLetterContact.value = "Inscrit(e) !";
        })
    })

    //	Sidebar Nav Menu js
    //=====================================================
    function openNav() {
        document.getElementById("mysidenav").style.width = "100%";
    }
    function closeNav() {
        document.getElementById("mysidenav").style.width = "0";
    }
</script>
</body>
</html>