<!DOCTYPE html>
<html lang="fr">
<head>
    <!--===== Meta Tag =====-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Runaway - Personal Portfolio HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="business, agency, blog, cv, creative, html, one page, personal, portfolio, resume, responsive, bootstrap, photography, designer, developer">
    <meta name="author" content="root">

    <!--	Css Links
   ==================================================-->
    <link rel="stylesheet" href="../../demainWeArt/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../demainWeArt/css/jquery.pagepiling.css">
    <link rel="stylesheet" href="../../demainWeArt/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../demainWeArt/fonts/flaticon.css">
    <link rel="stylesheet" href="../../demainWeArt/css/plugins.css">
    <link rel="stylesheet" href="../../demainWeArt/css/style.css">
    <link rel="stylesheet" href="../../demainWeArt/css/styleSections.css">
    <link rel="stylesheet" href="../../demainWeArt/css/colorsSousCats.css">
    <link rel="stylesheet" href="../../demainWeArt/css/bulleHoverBackground.css">
    <link rel="stylesheet" href="../../demainWeArt/css/color.css" id="color-change">

    <style type="text/css" media="screen">

        .logoDemain{
            width: 270px !important;
            height: 75px !important;
            margin-top: 30px!important;
            margin-bottom: 30px!important;
            object-fit: fill !important;
        }
        .menuRecordingSection{
            background-image: url("../../demainWeArt/images/backgroundsSections/background-recording-section.jpg")!important;

            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;        }
    </style>

    <!-- Favicon
   ==================================================-->
    <link rel="icon" type="image/png" sizes="32x32" href="../../demainWeArt/images/favicon.ico">

    <!--	Title
  ==================================================-->
    <title>Runaway - Personal Portfolio HTML Template</title>

</head>
<body id="top" class="page-load">
<!--	Preloader
==================================================-->
<div class="preloader">
    <div class="lds-css ng-scope">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>

<!-- Menu Responsive==================================================-->
<nav id="mysidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="flaticon-close-button"></i></a>
    {#    <a href="/"><i class="fa fa-home fa-2x pl-5" aria-hidden="true"></i></a>#}
    <ul id="menu">
        <li data-menuanchor="homePage" id="homeRecordingResponsive"><a onclick="closeNav()" class="Blanc font-weight-bold" href="/#homePage"><i class="fa fa-home Blanc" aria-hidden="true"></i> HOME</a></li>
        <li data-menuanchor="recordingPage"><a onclick="closeNav()" class="Violet font-weight-bold" href="/#recordingPage">RECORDING STUDIOS</a></li>
        <li data-menuanchor="artistLabelServices" id="artistLabelServicesRecordingResponsive"><a onclick="closeNav()" class="Rose font-weight-bold" href="/#artistLabelServices">ARTIST & LABEL SERVICES</a></li>
        <li data-menuanchor="training" id="trainingRecordingResponsive"><a onclick="closeNav()" class="Orange font-weight-bold" href="/#training">FORMATION & TRAINING</a></li>
        <li data-menuanchor="events" id="eventRecordingResponsive"><a onclick="closeNav()" class="Rouge font-weight-bold" href="/#events">EVENTS</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_partenaires') }}">PARTENAIRES</a></li>
        <li><a onclick="closeNav()" class="Blanc font-weight-bold" href="{{ path('demainweart_page_contact') }}">CONTACT</a></li>
        {#        <li data-menuanchor="page7"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page7">Team</a></li>#}
        {#        <li data-menuanchor="page8"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page8">Testimonialdadada</a></li>#}
        {#        <li data-menuanchor="page9"><a onclick="closeNav()" class="Blanc font-weight-bold" href="#page9">Contact</a></li>#}
    </ul>
</nav>

{#<div class="sidebar bg_deepblack">#}
{#    <div class="logo text-center"><a href="#page1"><img class="nav-logo" src="images/logo/29.png" alt="logo"></a></div>#}
{#    <span style="cursor:pointer" onclick="openNav()">&#9776;</span>#}
{#    <div class="socal_media mt_60">#}
{#        <ul>#}
{#            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}
<div class="contact_massage bg_transparent d-flex align-items-center" style="cursor:pointer" onclick="openNav()">
    <a href="#"><i class="fa fa-bars fa-1x text-white" aria-hidden="true"></i></a>
</div>

<!--
=======================================================-->








    <!--	Start Recording Stdios
    ===================================================-->
    <div id="recordingPage" class="section bg_black pp-scrollable">
        <div class="container-fluid pl-0 pr-0">

            <div class="about2">
                <div class="col-md-12 col-lg-12">
                    <div class="row">

                        <div class="col-md-12 col-lg-12 menuRecordingSection d-block" id="sectionRecording">
                            <div class="about_myself pr-sm-5 pl-sm-5">
                                <!--	Start Title
                                ================================-->
                                {#                                    <div class="main_title my_60">#}
                                {#                                        <h2 class="title color_white">About Me</h2>#}
                                {#                                        <p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>#}
                                {#                                    </div>#}
                                <!--	End Title
                                ================================-->
                                <div class="row pt-5">
                                    <div class="hauteurSousCat"></div>

                                    <div class="menuSousCat col-md-4 col-lg-4">
                                        <div class="myself color_secondery menuSticky" style="min-width: 337px; max-width: 337px">
                                            <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                            <div id="currentPartenaires" class="rotating Blanc"></div>
                                            <a href="/"><h2  id="homeRecording" class="Blanc petitTitreMenu">HOME</h2></a>
                                            <a href="/#recordingPage"><h2 class="Violet">RECORDING STUDIOS</h2></a>
                                            <a href="/#artistLabelServices"><h2  id="artistLabelServicesRecording" class="Rose">ARTIST & LABEL SERVICES</h2></a>
                                            <a href="/#training"><h2  id="trainingRecording" class="Orange">FORMATION & TRAINING</h2></a>
                                            <a href="/#events"><h2 id="eventRecording" class="Rouge">EVENTS</h2></a>
                                            <h2 class="Blanc petitTitreMenu">PARTENAIRES</h2>
                                            <a href="{{ path('demainweart_page_contact') }}"><h2 class="Blanc petitTitreMenu">CONTACT</h2></a>
                                            <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 mb-5">
                                        <div class="personal_info color_lightgray bg_transparent">
                                            <div class="accordion bg_transparent" id="PartenaireIdCollapse">
                                                <div style="border: transparent;" class="card bg_transparent">


                                                    <!-- ------------------------CARDS BULLE---------------------- -->

                                                        <div style="border: transparent;" class="card-header bg_transparent" id="PartenaireId">

                                                            <div class="d-block text-center pl-xl-5 pl-sm-0">
                                                                <a href="/"><img alt="" class="logoDemain" src="../../demainWeArt/images/logo/logo-demain.png"></a>
                                                            </div>

                                                            <h2 class="container-buttonSousCat">
                                                                <button class="bulleSousCategorie text-left bg_transparent text-white bgRose pl-3 bgBlanc" type="button" data-toggle="collapse" data-target="#targetPartenaireId" aria-expanded="true" aria-controls="collapseOne">
                                                                    CGU DEMAIN WE ART
                                                                </button>
                                                            </h2>
                                                        </div>


                                                            <div style="border: transparent" id="targetPartenaireId" class="bg_transparent collapse show" data-parent="#PartenaireIdCollapse" aria-labelledby="PartenaireId">
                                                                <div class="card-body" style="border: transparent;">
                                                                    <div class="row paddingCards justify-content-left">
                                                                        <div class="row">
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="price_table">
                                                                                    <div class="row justify-content-left">
                                                                                        <br>
                                                                                        <br>
<p>
                                                                                        <span class="font-weight-bold pt-1">Conditions Générales d’Utilisation du site www.demainweart.com</span><br>
                                                                                            <br>
                                                                                        Préambule<br>                                                                                        <br>

                                                                                        IM LYON – DEMAIN WE ART (ci-après visé par La Société), en qualité d’éditeur et exploitante du site internet http://www.demainweart.com (ci-après dénommé le « Site Internet »), est une société spécialisée dans la production musicale en studio d’enregistrement, la délivrance de prestations de services destinées aux artistes et aux labels, la formation professionnelle continue et les initiations dans le domaine musicale, ainsi que l’organisation d’évènements en lien avec des projets musicaux, à destination de tout internaute qui se connecte et navigue sur le Site Internet, (ci-après visé par l’Utilisateur).
                                                                                        <br><br>
                                                                                        La consultation du Site Internet www.demainweart.com suppose l’acceptation sans réserve des présentes conditions d’utilisation.<br>
                                                                                        La Société se réserve la possibilité de mettre à jour les présentes Conditions Générales d’Utilisation du site à tout moment, en fonction de l’évolution du contenu du Site Internet et, le cas échéant, des contraintes de protection supplémentaires.<br>
                                                                                        La Société peut, à tout moment apporter des améliorations ou des changements aux services décrits sur ce site. Il est donc fortement conseillé à tout Utilisateur du site, de visiter cette page lors de chaque consultation du Site Internet.
                                                                                        <br><br>
                                                                                        <span class="font-weight-bold">Article 1 – Droits de propriété intellectuelle</span><br>
                                                                                        La Société est titulaire de l’ensemble des droits de propriété intellectuelle afférents à la marque « Demain We Art » (numéro « en cours d’attribution par l’INPI »), au nom de domaine http://www.demainweart.com, à la charte graphique du Site Internet ainsi que son contenu et plus généralement à l’ensemble des marques figuratives ou non, illustrations, images, animations et logotypes figurant sur le site, les biens, les produits, leurs accessoires et leurs emballages, qu’ils soient déposés ou non. L’ensemble de ces éléments sont et demeurent la propriété exclusive de La Société.<br>
                                                                                        Toute reproduction totale ou partielle, modification ou utilisation de ces marques, illustrations, images et logotypes, pour quelque motif et sur quelque support que ce soit, sans accord exprès et préalable de La Société, est strictement interdite. Il en est de même de toute combinaison ou conjonction avec toute autre marque, symbole, logotype et plus généralement tout signe distinctif destiné à former un logo composite. Il en est de même pour tout droit d’auteur, dessins et modèles qui restent la propriété exclusive de La Société.
                                                                                        <br><br>
                                                                                        <span class="font-weight-bold">Article 2 – Confidentialité, Sécurité et Traitement des données personnelles</span><br>
                                                                                        Les informations personnelles portées sur ce site sont enregistrées dans un fichier informatisé sécurisé.<br>
                                                                                        Nous ne traiterons ou n’utiliserons les données de l’Utilisateur que dans la mesure où cela est nécessaire à le contacter et assurer le traitement de ses demandes.<br>
                                                                                        Les informations personnelles de l’Utilisateur sont conservées pendant une durée qui ne saurait excéder 5 années après la fin de la relation contractuelle avec celui-ci, sauf si :<br>
                                                                                        * L’Utilisateur exerce son droit de suppression des données le concernant, dans les conditions décrites ci-après ;<br>
                                                                                        * Une durée de conservation plus longue est autorisée ou imposée en vertu d’une obligation légale ou règlementaire.<br>
                                                                                        Pendant cette période, nous mettons en place tous les moyens aptes à assurer la confidentialité et la sécurité des données personnelles de l’Utilisateur, de manière à empêcher leur endommagement, effacement ou accès par des tiers non autorisés. L’accès aux données personnelles de l’Utilisateur est strictement limité à notre personnel administratif et, le cas échéant, à nos sous-traitants. Les sous-traitants en question sont soumis à une obligation de confidentialité et ne peuvent utiliser ces données qu’en conformité avec nos dispositions contractuelles et la législation applicable. En dehors des cas énoncés ci-dessus, nous nous engageons à ne pas vendre, louer, céder ni donner accès à des tiers à ces données sans le consentement préalable de l’Utilisateur, à moins d’y être contraints en raison d’un motif légitime (obligation légale, lutte contre la fraude ou l’abus, exercice des droits de la défense, etc.).  Certains des destinataires de vos données sont situés en dehors de l’Union européenne, aux Etats-Unis d’Amérique. Les destinataires adhèrent aux principes du « Privacy Shield »  Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au Règlement européen n°2016/679/UE du 27 avril 2016 (applicable dès le 25 mai 2018), l’Utilisateur bénéficie d’un droit d’accès, de rectification, de portabilité et d’effacement de ses données ou encore de limitation du traitement. L’Utilisateur peut également, pour des motifs légitimes, s’opposer au traitement des données le concernant.<br>
                                                                                        L’Utilisateur peut, sous réserve de la production d’un justificatif d’identité valide, exercer ses droits en contactant nos services à l’adresse contact@demainweart.com, ou par courrier postal à IM Lyon – Demain We Art, 15 rue Prisca 69100 Villeurbanne.<br>
                                                                                        Pour toute information complémentaire ou réclamation, l’Utilisateur peut contacter la Commission Nationale de l’Informatique et des Libertés (plus d’informations sur http://www.cnil.fr).<br>
                                                                                        Enfin, nous informons l’Utilisateur de l’existence de la liste d’opposition au démarchage téléphonique « Bloctel », sur laquelle il peut s’inscrire (https://conso.bloctel.fr/).<br>
                                                                                        <br>
                                                                                        <span class="font-weight-bold">Article 3 – Responsabilités</span><br>
                                                                                        L’Utilisateur reconnaît que la responsabilité de La Société ne pourra en aucun cas être engagée du fait d’une mauvaise utilisation qu’il ferait du Site Internet.<br>
                                                                                        En conséquence, sa responsabilité ne pourra en aucun cas être engagée pour cause d’indisponibilité du Site Internet et ce, qu’elle qu’en soit la cause.<br>
                                                                                            <br>
                                                                                            <br>
</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>




                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <footer class="container-fluid">
                                <div  style="background-color: {{ recordingStutios.couleurfooter }}" class="row rounded-top">
                                    <!-- Newsletter -->
                                    <div class="d-flex justify-content-center col-12 containerNewsletter">
                                        <form accept-charset="UTF-8"  class="newsletter">
                                            <input type="email" id="contentNewsLetterCGU" name="formNewsLetterCGU" placeholder="E-mail" />
                                            <input id="formNewsLetterCGU" style="background: #B34575;" type="button" name="formNewsLetterCGU" value="NEWSLETTER" disabled="disabled"/>
                                        </form>
                                    </div>




                                    <div class="col-lg-12 col-sm-12 d-flex flex-wrap text-sm-left text-sm-center text-lg-left text-white mt-5">
                                        <div class="col-12 d-flex flex-wrap justify-content-center">
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left">Home</h2>
                                                <a href="{{ path('demainweart_page_contact') }}"><h3 class="small text-lg-left linkFooter">Contact</h3></a>
                                                <a href="{{ path('demainweart_page_partenaires') }}"><h3 class="small text-lg-left linkFooter">Partenaires</h3></a>
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left">Recording studios</h2>
                                                {% for recordingStutio in recordingStutios.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': recordingStutio.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ recordingStutio.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left">Artist & label services</h2>
                                                {% for artistLabelServices in artistLabelServices.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': artistLabelServices.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ artistLabelServices.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left">Events</h2>
                                                {% for event in event.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': event.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ event.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left">Formation & Training</h2>
                                                {% for training in training.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': training.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ training.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 text-white text-sm-center text-lg-center mt-5">
                                        <h2 class="pl-0">
                                            <i class="pl-3 pr-3 fa fa-facebook-official" aria-hidden="true"> Rejoignez nous sur Facebook</i>
                                            <i class="pl-3 pr-3 fa fa-instagram" aria-hidden="true"> Suivez nous sur Instagram</i>
                                        </h2>
                                    </div>
                                    <div class="col-12 text-white text-center mt-5">
                                        <img class="logoMusicManufacturing" src="../../demainWeArt/images/logo/logo-music.png">
                                    </div>
                                    <div class="col-12 text-white text-center mt-5">
                                        imlyon.co 2019 - 2019 - <a href="{{ path('demainweart_page_mentions_legales') }}"> Mentions légales</a> - <a href="{{ path('demainweart_page_CGU') }}">CGU DemainWeArt</a>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>




    <!--	End Contact
    ===================================================-->

<!--	Js Links
===================================================-->
<script src="../../demainWeArt/js/jquery.min.js"></script>
<script src="../../demainWeArt/js/popper.min.js"></script>
<script src="../../demainWeArt/js/bootstrap.min.js"></script>
<script src="../../demainWeArt/js/plugins.js"></script>
<script src="../../demainWeArt/js/jquery.pagepiling.min.js"></script>
<script src="../../demainWeArt/js/custom.js"></script>
<script>
    var deleteLog = false;
    //	Pagepiling js
    //=====================================================
    // AJAX POST NEWSLETTER !!
    function ajaxPost(url, data, callback) {
        let req = new XMLHttpRequest();
        req.open("POST", url);
        req.addEventListener("load", function () {
            if (req.status >= 200 && req.status < 400) {
                // Appelle la fonction callback en lui passant la réponse de la requête
                callback(req.responseText);
            } else {
                console.error(req.status + " " + req.statusText + " " + url);
            }
        });
        req.addEventListener("error", function () {
            console.error("Erreur réseau avec l'URL " + url);
        });
        req.send(data);
    }



    let formNewsLetterCGU = document.getElementById('formNewsLetterCGU');
    formNewsLetterCGU.addEventListener('click', function () {
        let contentNewsLetterCGU = document.getElementById('contentNewsLetterCGU');

        let email = contentNewsLetterCGU.value;
        ajaxPost("{{ path('postNewsletter') }}", email, function() {

            formNewsLetterCGU.value = "Inscrit(e) !";
        })
    })

    //	Sidebar Nav Menu js
    //=====================================================
    function openNav() {
        document.getElementById("mysidenav").style.width = "100%";
    }
    function closeNav() {
        document.getElementById("mysidenav").style.width = "0";
    }
</script>
</body>
</html>