<div id="recordingPage" class="section bg_black pp-scrollable">
    <div class="container-fluid pl-0 pr-0">

            <div class="about2">
                <div class="col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 headerRecordingSection d-block flex-column" id="headerRecordingSection">


                            <div class="d-block logoDemainContainer">
                                <a href="/"><img alt="" class="logoDemain" src="demainWeArt/images/logo/logo-demain.png"></a>
                            </div>

                            <div class="d-block text-center pt-lg-5 pt-md-5">
                                <img alt="" class="upStream" src="demainWeArt/images/logo/upstream.png">
                            </div>





                            <div class="backgroundRecordingStudioTitre"></div>

                            <div class="text-center text-white mt-lg-5 mt-sm-2 container col-12 col-lg-7 col-md-7">
                                <h2 class="titreRecordingMenu text-center infosHeader fontAvenirDemi">{{ recordingStutios.titre }}</h2>
                                <p class="text-center descriptifRecordingMenu p-1 fontAvenirRegular font-weight-bold">
                                    {{ recordingStutios.description }}
                                    <br>
                                    <button type="button" id="moreRecordingStudios" class="buttonEnSavoirPlus btn btn-light">En savoir plus</button>

                                </p>

                            </div>



                        </div>
                        <div class="col-md-12 col-lg-12 menuRecordingSection" id="sectionRecording">
                            <div class="about_myself pr-sm-5 pl-sm-5">
                                <!--	Start Title
                                ================================-->
                                {#                                    <div class="main_title my_60">#}
                                {#                                        <h2 class="title color_white">About Me</h2>#}
                                {#                                        <p class="mt_15 color_lightgray">Interdum a etiam sagittis vehicula porta. Massa felis eros quam blandit nulla dolor habitant.</p>#}
                                {#                                    </div>#}
                                <!--	End Title
                                ================================-->
                                <div class="row pt-5">
                                    <div class="hauteurSousCat"></div>

                                    <div class="menuSousCat col-md-3 col-lg-3">
                                        <div class="myself color_secondery menu" style="min-width: 337px; max-width: 337px">
                                            <h2 class="mb-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                            <div id="currentRecording" class="rotating Violet"></div>
                                            <a href="#homePage"><h2  id="homeRecording" class="Blanc petitTitreMenu">HOME</h2></a>
                                            <h2 class="Violet">RECORDING STUDIOS</h2>
                                            <a href="#artistLabelServices"><h2  id="artistLabelServicesRecording" class="Rose">ARTIST & LABEL SERVICES</h2></a>
                                            <a href="#training"><h2  id="trainingRecording" class="Orange">FORMATION & TRAINING</h2></a>
                                            <a href="#events"><h2 id="eventRecording" class="Rouge">EVENTS</h2></a>
                                            <a href="{{ path('demainweart_page_partenaires') }}"><h2 class="Blanc petitTitreMenu">PARTENAIRES</h2></a>
                                            <a href="{{ path('demainweart_page_contact') }}"><h2 class="Blanc petitTitreMenu">CONTACT</h2></a>
                                            <h2 class="mt-2" style="margin-left: 81px;border-top: 1px solid white"></h2>
                                        </div>
                                    </div>

                                    <div class="md-pr-1 col-md-12 col-lg-9 col-sm-12 mb-5">

                                        <div class="personal_info color_lightgray bg_transparent">
                                            <div class="accordion bg_transparent" id="recordingCollapse">
                                                <div style="border: transparent;" class="card bg_transparent">




                                                    <!-- ------------------------CARDS BULLE---------------------- -->
                                                    {% for sousCategorie in recordingStutios.souscategorie %}
                                                    <div style="border: transparent;" class="card-header bg_transparent" id="{{ sousCategorie.id }}">
                                                        <h2 class="container-buttonSousCat">
                                                            <button class="text-left bg_transparent text-white pl-3 {{ sousCategorie.couleur }}" type="button" data-toggle="collapse" data-target="#target{{ sousCategorie.id }}" aria-expanded="true" aria-controls="collapseOne">
                                                                {{ sousCategorie.titre |upper }}
                                                            </button>
                                                        </h2>
                                                    </div>
                                                        {% if sousCategorie.format == "bulle" %}

                                                            <div style="border: transparent" id="target{{ sousCategorie.id }}" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="{{ sousCategorie.id }}">
                                                                <div class="card-body" style="border: transparent;">
                                                                    <div class="row paddingCards justify-content-center">
                                                                        <div class="row">
                                                                            <div class="col-md-12 col-lg-12">
                                                                                <div class="price_table">
                                                                                    <div class="row justify-content-center">
                                                                                    {% for article in sousCategorie.article %}
                                                                                        <div class="ml-1 mr-1">
                                                                                            <a href="{{ path('demainweart_page_article', {'slugifyTitre': article.slugifyTitre}) }}">
                                                                                                <div style="background: url('uploads/{{ article.photo }}') no-repeat center / cover;" class="table text-center bg_deepblack color_secondery bulle {{ sousCategorie.couleur }}">
                                                                                                    <div class="justify-content-center mb-3">
                                                                                                        <div class="pt-3">
                                                                                                            <h5>{{ article.titre }}</h5>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% elseif sousCategorie.format == "list" %}
                                                                <!-- ------------------------CARDS LIST---------------------- -->
                                                                <div style="border: transparent" id="target{{ sousCategorie.id }}" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="{{ sousCategorie.id }}" >
                                                                    <div class="card-body" style="border: transparent;padding-left: 85px">
                                                                        {% for article in sousCategorie.article %}
                                                                            <a href="{{ path('demainweart_page_article', {'slugifyTitre': article.slugifyTitre}) }}"><div><i class="{{ sousCategorie.couleur|slice(2) }} d-inline fa fa-plus-circle pt-1 pb-1" aria-hidden="true"> </i><p class="d-inline">{{ article.titre }}</p></div></a>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            {% elseif sousCategorie.format == "" %}
                                                                <div style="border: transparent" id="target{{ sousCategorie.id }}" class="bg_transparent collapse hidden" data-parent="#recordingCollapse" aria-labelledby="{{ sousCategorie.id }}">
                                                                    <div class="card-body" style="border: transparent;">
                                                                        <div class="row paddingCards justify-content-center">
                                                                            <div class="row">
                                                                                <div class="col-md-12 col-lg-12">
                                                                                    <div class="price_table">
                                                                                        <div class="row justify-content-center">
                                                                                            {% for article in sousCategorie.article %}
                                                                                                <div class="ml-1 mr-1">
                                                                                                    <a href="{{ path('demainweart_page_article', {'slugifyTitre': article.slugifyTitre}) }}">
                                                                                                        <div class="table text-center bg_deepblack color_secondery bulle {{ sousCategorie.couleur }}">
                                                                                                            <div class="justify-content-center">
                                                                                                                <div class="pt-3">
                                                                                                                    <h5>{{ article.titre }}</h5>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                            {% endfor %}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                        {% endif %}
                                                    {% endfor %}


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <footer class="container-fluid">
                                <div  style="background-color: rgba(102, 35, 131, .6);" class="row rounded-top">
                                    <!-- Newsletter -->
                                    <div class="d-flex justify-content-center col-12 containerNewsletter">
                                        <form accept-charset="UTF-8"  class="newsletter">
                                            <input type="email" id="contentNewsletter" name="contentNewsLetter" placeholder="E-mail" />
                                            <input id="formNewsLetter" style="background: #B34575;" type="button" name="newsletter" value="NEWSLETTER" disabled="disabled"/>
                                        </form>
                                    </div>




                                    <div class="col-lg-12 col-sm-12 d-flex flex-wrap text-sm-left text-sm-center text-lg-left text-white mt-5">
                                        <div class="col-12 d-flex flex-wrap justify-content-center">
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left pb-2">Home</h2>
                                                <a href="{{ path('demainweart_page_contact') }}"><h3 class="small text-lg-left linkFooter">Contact</h3></a>
                                                <a href="{{ path('demainweart_page_partenaires') }}"><h3 class="small text-lg-left linkFooter">Partenaires</h3></a>
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left pb-2">Recording studios</h2>
                                                {% for recordingStutio in recordingStutios.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': recordingStutio.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ recordingStutio.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left pb-2">Artist & label services</h2>
                                                {% for artistLabelServices in artistLabelServices.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': artistLabelServices.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ artistLabelServices.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left pb-2">Events</h2>
                                                {% for event in event.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': event.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ event.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                            <div class="pr-3 col-lg-2 col-sm-12 text-sm-left text-lg-left">
                                                <h2 class="pl-0 text-lg-left pb-2">Formation & Training</h2>
                                                {% for training in training.sousCategorie %}
                                                    <a href="{{ path('demainweart_page_categorie', {'slugifyTitre': training.slugifyTitre}) }}"><h3 class="small text-lg-left linkFooter">{{ training.titre }}</h3></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 text-white text-sm-center text-lg-center mt-5">
                                        <h2 class="pl-0">
                                            <i class="pl-3 pr-3 fa fa-facebook-official" aria-hidden="true"> Rejoignez nous sur Facebook</i>
                                            <i class="pl-3 pr-3 fa fa-instagram" aria-hidden="true"> Suivez nous sur Instagram</i>
                                        </h2>
                                    </div>
                                    <div class="col-12 text-white text-center mt-5">
                                        <img class="logoMusicManufacturing" src="demainWeArt/images/logo/logo-music.png">
                                    </div>
                                    <div class="col-12 text-white text-center mt-5">
                                        imlyon.co 2019 - 2019 - <a href="{{ path('demainweart_page_mentions_legales') }}"> Mentions légales</a> - <a href="{{ path('demainweart_page_CGU') }}">CGU DemainWeArt</a>
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>